/GTAVMousehookHelperXenia/Release_LTCG
/GTAVMousehookHelperXenia/Release
/GTAVMousehookHelperXenia/Debug
GTAVMousehookHelperXenia.opensdf
/GTAVMousehookHelperXenia/Release_BASEADDR
GTAVMousehookHelperXenia.sdf
GTAVMousehookHelperXenia.suo
